.container {
    padding: 0;
    max-width: 1240px;
    margin: 0 auto;
}

.title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #001833;
}


.recipeItem {
    margin-bottom: 32px;
}

.recipeItem:hover {
    transform: translateY(-5px);
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 32px;
        text-align: center;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 0;
    }

    .recipeItem {
        margin-bottom: 40px;
    }

    .title {
        font-size: 36px;
        margin-bottom: 60px;
    }
}
