.hero {
  margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .hero {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    margin-bottom: 120px;
  }
}
