.component {
  position: relative;
}

.open-button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 20px;

  span {
    display: block;
    height: 1px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.dark {
  .open-button span {
    background-color: var(--white);
  }
}

.light {
  .open-button span {
    background-color: var(--extra-black);
  }
}

.menu {
  background-color: var(--extra-black);
  background-image: url('src/images/menu-bg.png');
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: 80% auto;
  height: 100vh;
  left: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  transition: left 0.5s;
  width: 100vw;
  z-index: 2;

  &.open {
    left: 0;
  }
}

.menu-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.close-button {
  background-color: transparent;
  border: none;
  color: var(--white);
  padding: 0;

  svg {
    height: 22px;
    width: 22px;
  }
}

.nav-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}

.nav-item {
  list-style: none;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  a {
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .menu {
    background-color: transparent;
    background-image: none;
    height: auto;
    padding: 0;
    position: static;
    width: auto;
  }

  .nav-list {
    flex-direction: row;
    gap: 40px;
    position: static;
    transform: none;
  }

  .nav-item {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    a {
      border: 1px solid transparent;
      border-radius: 30px;
      font-size: 12px;
      padding: 14px;
    }
  }

  .dark {
    .nav-item.active a,
    .nav-item a:hover {
      border-color: var(--white);
    }
  }

  .light {
    .nav-item a {
      color: var(--extra-black);
    }

    .nav-item.active a,
    .nav-item a:hover {
      border-color: var(--gray);
    }
  }
}
