.component {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
}

.right {
    align-items: center;
    display: flex;
    gap: 6px;
}
