.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.paddingContainer {
    padding: 0 8px;
}

/* Tablet Layout: Starts adapting at 768px */
@media only screen and (min-width: 768px) {
    .paddingContainer {
        padding: 0 16px;
    }
}

/* Desktop Layout: Starts adapting at 1440px */
@media only screen and (min-width: 1440px) {
    .paddingContainer {
        padding: 0 20px;
    }
}

.main {
    flex: 1;
    overflow-y: auto;
}
