.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
}

button[type='submit'] {
    font-weight: 700;
    background-color: #bfbebe;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.875rem;
}

.serverError {
    background-color: #ffe5e5;
    color: red;
    padding: 0.5rem;
    border-radius: 4px;
}
